body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sourceText {
    width: 30em;
    max-width: 100%;
    min-height: 5em;
    margin: 0.5em;
}

details {
    width: 70%;
    max-width: 40em;
    margin: 0.5em;
}

summary {
    font-weight: bold;
}

.customisation {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3em, auto) minmax(8em, auto));
    grid-auto-rows: 1fr;
    column-gap: 0.5em;
    align-items: center;
    margin: 0.5em 0;
    width: 100%;
}

.customisation input {
    justify-self: center;
    max-width: 6em;
}

.customisation input[type=number] {
    max-width: 4em;
}

.substitutions {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: column;
    column-gap: 1em;
}

.substitutions textarea {
    width: 100%;
    resize: vertical;
    min-height: 8em;
}

.error {
    color: red;
}

#symbolDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fill, 2em 5em);
    grid-auto-rows: 1fr;
    column-gap: 0.5em;
    row-gap: 1em;
    align-items: center;
    margin: 0.5em 0;
    width: 100%;
}

@media (max-width: 30em) {
    textarea {
        width:100%
    }
    .substitutions {
        grid-template-rows: repeat(10, auto);
    }
}

.hidden {
    display: none
}
